
@import "tailwindcss";
@import "../public/assets/styles/forms.css";

:root {
  --background: #fff;
  --foreground: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-primary);
  --font-mono: var(--font-secondary);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary), serif;
}

.font-logo {
  font-family: var(--font-logo), serif !important;
}

